<div class="row">
    <div class="col pt-5">
        <p>
            Ahoj, Vita ta tvoj projekt urceny pre zadanie.
        </p>
        <p>
            Otestuj si projekt predtym ako zacnes, aby si zistil ci ti vsetko funguje ako ma a zbytocne nestracal cas
            ked
            budes riesit zadanie. V projekte mas uz pripraveny aj bootstrap a aj Angular Material. Keby si chcel pridat
            nejaky vlastny komponent,
            kludne ho pridaj.
        </p>
        <p>
            Ked projekt uspesne rozbehas, tak prosim vypln formular, kde zadas svoju mailovu adresu a na dakovnej
            stranke dostanes formular s odkazom k pokynom.
        </p>
        <p>
            Prajeme ti vela stastia.
        </p>
    </div>
</div>
