<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand pr-5" [routerLink]="['/welcome']">
            <img src="./assets/img/company-logo.png" alt="ProUP"/>
        </a>
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a [routerLink]="['/welcome']"class="nav-link">
                        Welcome
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/detail']" class="nav-link">
                        Detail
                    </a>
                </li>
                <li class="nav-item">
                    <a  [routerLink]="['/near']" class="nav-link">
                        Near city
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
